body{
	background-color: #4642B8;padding: 15px;font-family: Georgia;
	background-color: #000;font-weight: 1000; font-family: Algerian;
}

#menu {
	background-color: #000;
}

#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu ul li {
	display: inline-block;
}

#menu ul li a {
	color: white;
	display: block;
	padding: 20px 70px;
	text-decoration: none;
}

#menu ul li a:hover {
	background-color: red;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

#Halcón {
	padding-top: 100px;
	padding-left: 300px;
	height: 330px;
}



#barra {
	background-color: red;
	height: 8px;
	width: 100%;
}


@media screen and (max-width: 600px) {



body{
	background-color: #4642B8;padding: 15px;font-family: Georgia;
	background-color: #000;font-weight: 1000; font-family: Algerian;
}

#menu {
	background-color: #000;
	width: 100%;
}

#menu ul {
	list-style: none;
	margin: 0%;
	padding: 0%;
}

#menu ul li {
	display: inline-block;
}

#menu ul li a {
	color: white;
	display: block;
	padding: 20px 70px;
	text-decoration: none;
}

#menu ul li a:hover {
	background-color: red;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

#Halcón {
	padding-top: 30%;
	padding-left: 0%;
	height: 200%;
	width: 100%;
}



#barra {
	background-color: red;
	height: 8px;
	width: 100%;
}

}